@import url(https://fonts.googleapis.com/css?family=Crimson+Text);


h1, h2, h3, h4, h5, h6, .navbar {
  font-family: 'Crimson Text', serif;
  margin:0;
}

body {
  background: url('blizzard.png');
  font-family: 'Crimson Text', serif;
}

.navbar-inverse {
  border-radius: 0;
  font-family: 'Crimson Text', serif;
  font-size: 15px;
  font-weight: 100;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: url('blackorchid.png');
}

.navbar-inverse a.navbar-brand {
  font-family: 'Crimson Text', serif;
  font-size: 30px;
  font-weight: 200;
  color: white;
}

.hero {
  background: url('desk.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:425px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
  background:rgba(0,0,0,0.5);
  color:white;
}

.frosty h1 {
  font-family: 'Crimson Text', serif;
  font-weight: 200;
  text-shadow: rgba(0,0,0,.75) 1px 1px;
}

.frosty h2 {
  font-family: 'Crimson Text', serif;
  font-weight: 100;
  text-shadow: rgba(0,0,0,.75) 1px 1px;
}

.btn {
  border-radius:0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
}


.booyah-box h1, .booyah-box h2 {
  margin:10px 10px 10px 0px;
}

.clr {
  clear:both;
}

.alert {
  border-radius: 0;
}

.field_with_errors {
  color: #ff3333;
  background-color: #ffeeee;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

.img-responsive {
  padding: 5px;
  margin: 5px;
}


